<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd 
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-4.1.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="url" value="jdbc:mysql://localhost:3306/news"/>
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="username" value="root"/>
		<property name="password" value="admin"/>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/news/entity/Admin.hbm.xml</value>
				<value>com/news/entity/Topic.hbm.xml</value>
				<value>com/news/entity/Newsinfo.hbm.xml</value></list>
		</property></bean>
	
	<!-- 声明事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />
	<!-- 定义事务通知 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="*" propagation="REQUIRED"/>
		</tx:attributes>
	</tx:advice>
	<!-- 定义切面，并将事务通知和切面组合(定义哪些方法应用事务规则) -->
	<aop:config>
		<!-- 对com.news.biz包下的所有类的所有方法都应用事务规则 -->
		<aop:pointcut expression="execution(* com.news.biz.*.*(..))" id="bizMethods"/>
		<!-- 将事务通知与切面组合 -->
		<aop:advisor advice-ref="txAdvice" pointcut-ref="bizMethods"/>
	</aop:config>
	
	<!-- 定义NewsinfoDaoImpl -->
	<bean id="newsinfoDao" class="com.news.dao.impl.NewsinfoDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>	
	<!-- 定义TopicDaoImpl -->
	<bean id="topicDao" class="com.news.dao.impl.TopicDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>	
	<!-- 定义AdminDaoImpl -->
	<bean id="adminDao" class="com.news.dao.impl.AdminDaoImpl">
		<property name="sesssionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 定义NewsinfoBizImpl -->
	<bean id="newsinfoBiz" class="com.news.biz.impl.NewsinfoBizImpl">
		<property name="newsinfoDao" ref="newsinfoDao"/>
	</bean>	
	<!-- 定义TopicBizImpl -->
	<bean id="topicBiz" class="com.news.biz.impl.TopicBizImpl">
		<property name="topicDao" ref="topicDao"/>
	</bean>
	<!-- 定义AdminBizImpl类，并为其adminDao属性注入值 -->
	<bean id="adminBiz" class="com.news.biz.impl.AdminBizImpl">
		<property name="adminDao" ref="adminDao"/>
	</bean>
	
	
	<!-- 配置NewsinfoAction 给属性topicBiz和newsinfoBiz注入值 -->
	<bean id="NewsinfoAction" class="com.news.action.NewsinfoAction">
		<property name="topicBiz" ref="topicBiz"/>
		<property name="newsinfoBiz" ref="newsinfoBiz"/>
	</bean>
	<!-- 配置AdminAction，并为其中的属性AdminAction注入值 -->
	<bean name="adminAction" class="com.news.action.AdminAction" scope="prototype">
		<property name="adminBiz" ref="adminBiz"/>
	</bean>
	
	</beans>